@page
@model Exwhyzee.Wimbig.Web.Areas.Admin.Pages.Preview.TransactionsModel
@{
    ViewData["Title"] = "Wallet and Transactions";
    @if (User.IsInRole("SuperAdmin") || User.IsInRole("mSuperAdmin") || User.IsInRole("Admin") || User.IsInRole("DGAs") || User.IsInRole("Supervisors") || User.IsInRole("Agent") || User.IsInRole("Supervisors") || User.IsInRole("LotteryCommision"))
    {
        Layout = "~/Views/Shared/_SuperThemeBackLayout.cshtml";

    }

    else
    {
        Layout = "~/Views/Shared/_MainLayout.cshtml";

    }
}
@if (User.IsInRole("SuperAdmin") || User.IsInRole("mSuperAdmin") || User.IsInRole("Admin") || User.IsInRole("DGAs") || User.IsInRole("Supervisors") || User.IsInRole("Agent") || User.IsInRole("Supervisors") || User.IsInRole("LotteryCommision"))
{

}

else

{
    <partial name="/Areas/Identity/Pages/Account/Manage/_ManageUserNav.cshtml" />

}

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info alert-dismissible" role="alert">
            <h2>
                Transaction History Preview UserName: @TempData["username"]
                <a href="javascript: history.back()" style="color:#ffffff;" class="btn btn-success pull-right">Back</a>
            </h2>
        </div>
    </div>
</div>

<section class="dashboard" style="background-color:#FFF;color:#000000;">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="dashboard-main-disc">


                    <div class="row">

                        <div class="col-md-6 col-sm-12">
                            <h4> Transactions</h4>
                        </div>
                      
                    </div>
                    <br />

                    <div class="row table-responsive">
                        @await Html.PartialAsync("_StatusMessage", Model.StatusMessage)
                        <div class="col-md-12 table-responsive">
                            <table id="example" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr class="headings">

                                        <th class="column-title">Id </th>
                                        <th class="column-title">Transaction Type </th>
                                        <th class="column-title">Amount </th>
                                        <th class="column-title">Date of Transaction </th>
                                        <th class="column-title">Description </th>
                                        <th class="column-title">Status </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Transactions.Source)
                                    {
                                        <tr class="">
                                            <td>@item.Id</td>
                                            <td>
                                                @if (item.TransactionType == Enums.TransactionTypeEnum.Credit)
                                                {
                                                    <span class="bg-success" style="padding:3px;border-radius:4px;">@Html.DisplayFor(modelItem => item.TransactionType)</span>
                                                }
                                                else if (item.TransactionType == Enums.TransactionTypeEnum.Debit)
                                                {
                                                    <span class="bg-danger" style="padding:3px;border-radius:4px;">@Html.DisplayFor(modelItem => item.TransactionType)</span>

                                                }
                                                else if (item.TransactionType == Enums.TransactionTypeEnum.TransferCredit)
                                                {
                                                    <span class="bg-success" style="padding:3px;border-radius:4px;">Transfer (Credit)</span>

                                                }
                                                else if (item.TransactionType == Enums.TransactionTypeEnum.TransferDebit)
                                                {
                                                    <span class="bg-danger" style="padding:3px;border-radius:4px;">Transfer (Debit)</span>

                                                }
                                                else
                                                {
                                                    <span class="" style="padding:3px;border-radius:4px;">@Html.DisplayFor(modelItem => item.TransactionType)</span>

                                                }
                                            </td>
                                            <td>@item.Amount </td>
                                            <td>@item.DateOfTransaction</td>
                                            <td>@item.Description</td>
                                            <td>

                                                @Html.DisplayFor(modelItem => item.Status)
                                            </td>


                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#example').DataTable({
                responsive: true,
                "order": [[0, 'desc']]
            });
        });
    </script>
}
