
<a asp-page="./Total">
    <button class="btn btn-primary btn-sm" type="button">@TempData["Total"] Total</button>
</a>
<a asp-page="./Index"><button class="btn btn-success btn-sm" type="button">@TempData["Active"] Active</button></a>
<a asp-page="./Drawn"> <button class="btn btn-danger btn-sm" type="button">@TempData["Drawn"] Drawn</button></a>

<a asp-page="./Others"> <button class="btn btn-warning btn-sm" type="button">@TempData["Others"] Others</button></a>
<a asp-page="./TargetLocation"> <button class="btn btn-warning btn-sm" type="button">@TempData["TargetLocation"] Target Location</button></a>
