@page
@model Exwhyzee.Wimbig.Web.Areas.LotteryCommision.Pages.Dashboard.WinnersModel
@{
    int sno = 0;
    @if (User.IsInRole("SuperAdmin") || User.IsInRole("mSuperAdmin"))
    {
        Layout = "~/Views/Shared/_SuperThemeBackLayout.cshtml";

    }
    else
    {
        Layout = "~/Views/Shared/_LotteryThemeBackLayout.cshtml";

    }
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel table-responsive">
            <div class="x_title">
                <h2>Wimbig Stakes (Total Winners [@Model.Tickets.Count()] )<small></small></h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <table class="table dataTable table-striped jambo_table bulk_action" id="userDatable">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Date</th>
                            <th>Raffle Id</th>
                            <th>Raffle Name</th>
                            <th>Ticket Number</th>
                            <th>Price (#)</th>
                            <th>Full Name</th>
                            <th>Phone</th>
                           
                            <th>Winner</th>
                            <th>Status</th>
                            
                        </tr>
                    </thead>


                    <tbody>
                        @foreach (var item in Model.Tickets)
                        {
                        <tr>
                            <td>
                                @{ sno++; }
                                @sno
                            </td>
                            <td>@item.DateWon</td>
                            <td>@item.RaffleId</td>
                            <td>@item.RaffleName</td>
                            <td>@item.TicketNumber</td>
                            <td>@item.Price</td>
                            <td>@item.FullName</td>
                            <td>@item.PhoneNumber</td>

                            <td>Winner (@item.IsWinner)</td>
                            <td>@Html.DisplayFor(model => item.TicketStatus)</td>


                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#userDatable").DataTable();
        });

    </script>
}
