@page
@model Exwhyzee.Wimbig.Web.Areas.StakeHolders.Pages.UserData.TicketHistoryModel
@{
    ViewData["Title"] = "Refernce Ticket History";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel table-responsive">
            <div class="x_title">
                <h2>References Ticket History for @ViewData["UserName"] (@Model.Tickes.Source.Count() tickets) </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a href="javascript: history.back()"><button class="btn btn-xs btn-warning">Cancel</button> </a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content table-responsive">

                <table class="table dataTable table-striped jambo_table bulk_action" id="userDatable">
                    <thead>
                        <tr class="headings">
                            <th class="column-title">Id </th>
                            <th class="column-title">Date </th>
                            <th class="column-title">Raffle Name </th>
                            <th class="column-title">Raffle Id </th>
                            <th class="column-title">Ticket Number </th>
                            <th class="column-title">Transaction Id </th>
                            <th class="column-title">Phone Number</th>
                            <th class="column-title">Player</th>
                            <th class="column-title">Price </th>
                            <th class="column-title">Status </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Tickes.Source)
                        {
                            <tr class="even pointer">
                                <td>
                                    @item.Id

                                </td>
                                <td>@item.Date</td>
                                <td>@item.RaffleName</td>
                                <td>@item.RaffleId</td>
                                <td>@item.TicketNumber</td>
                                <td>@item.TransactionId</td>
                                <td>@item.PhoneNumber</td>
                                <td>@item.PlayerName</td>
                                <td>@item.Price</td>
                                <td>
                                    @if (item.Status == 1)
                                    {
                                        <span>Active</span>
                                    }
                                    else if (item.Status == 2)
                                    {
                                        <span>Drawn</span>
                                    }

                                    @if (item.IsWinner == true)
                                    {
                                        <span class="btn-success">Won</span>
                                    }

                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
   
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#userDatable').DataTable({
                responsive: true,
                "order": [[0, 'desc']]
            });

            new $.fn.dataTable.FixedHeader(table);
        });
    </script>
}
