@model ICollection<Exwhyzee.Wimbig.Application.Raffles.Dto.RaffleDto>

<div class="col-md-12 col-sm-12 col-xs-6">
    @foreach (var raffle in Model)
    {
    <div style="margin-bottom:0px !important;">
        <p style="font-size:10px !important;">@raffle.RaffleName</p>
        <p style="font-size:8px !important;margin:0px !important;">Sold @raffle.TotalSold Tickets from @raffle.NumberOfTickets (@raffle.Percentage)</p>
        <div class="">
            <div class="progress progress_sm" style="width: 100%;">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="@raffle.Percentage"></div>
            </div>

        </div>
    </div>
    }


</div>

