@page
@model Exwhyzee.Wimbig.Web.Areas.Admin.Pages.Slider.IndexModel
@{
}
@{
    ViewData["Title"] = "Raffle Management";
   
        Layout = "~/Views/Shared/_SuperThemeBackLayout.cshtml";

    }

<!-- page content -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel table-responsive">
            <div class="x_title">
                <h2>Barner Management &nbsp; &nbsp;  <a class="btn btn-sm btn-primary" asp-page="/Slider/NewSlider"> Add a Slider</a></h2>

                <ul class="nav navbar-right panel_toolbox"></ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content table-responsive">
               
                <table class="table dataTable table-striped jambo_table bulk_action" id="table">
                    <thead>
                        <tr class="headings">

                            <th class="column-title">Name </th>
                            <th class="column-title">Image </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var img in Model.Barners.Source)
                        {
                            <tr class="even pointer">
                                <td>@img.Url</td>
                                <td>
                                    <a href="@img.Url" target="_blank">
                                        <img src="@img.Url" class="img-responsive" alt="wimbig_image" style="max-height:100px;" />
                                    </a>
                                </td>
                                <td>
                                    <a asp-page="./Delete" class="btn btn-warning btn-xs" asp-route-id="@img.Id">Delete</a>
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel table-responsive">
            <div class="x_title">
                <h2>Side Bar Management &nbsp; &nbsp;  <a class="btn btn-sm btn-primary" asp-page="/Slider/NewSideBar"> Add a Side BAr</a></h2>

                <ul class="nav navbar-right panel_toolbox"></ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content table-responsive">


                <table class="table dataTable table-striped jambo_table bulk_action" id="table">
                    <thead>
                        <tr class="headings">

                            <th class="column-title">Name </th>
                            <th class="column-title">Image </th>
                            <th class="column-title">Status </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var img in Model.SideBars.Source)
                        {
                        <tr class="even pointer">
                            <td>@img.Url</td>
                            <td>
                                <a href="@img.Url" target="_blank">
                                    <img src="@img.Url" class="img-responsive" alt="wimbig_image" style="max-height:100px;" rotate="180" />
                                </a>
                            </td>
                            <td>
                                @img.TargetLocation
                               
                            </td>
                            <td>
                                <a asp-page="./DeleteSideBar" class="btn btn-warning btn-xs" asp-route-id="@img.Id">Delete</a>
                            </td>
                            
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
@section scripts{
    <script type="text/javascript">
                        $("table").DataTable();
    </script>
}